/* Navbar Styles */
.navbar {
  background-color: white;
  font-family: cursive;
}

.container-flex {
  background-color: #f8dceb;
  width: 100%;
}

.nav-link {
  color: gray;
  font-family: cursive;
}

/* Insta Nav */
.follow {
  color: gray;
  font-size: 2;
}

.insta-logo {
  width: 70px;
  height: 70px;
}

/* Table Styles */

/* .table-image {
  width: 50%;
  height: 50%;
} */

/* Carousel Stlyes */

/* Body Styles */

.jumbotron {
  background-color: white;
  font-family: cursive;
  color: #de87b5;
}

.btn {
  font-family: sans-serif;
}

/* Card Styles */
/* .c-style {
  position: relative;
  width: 50%;
} */

.c-image {
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
  /* margin: 10px; */
}

.img-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.c-style:hover .c-image {
  opacity: 0.3;
}

.c-style:hover .img-overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 25pt;
  font-family: sans-serif;
  padding: 16px 32px;
}

/* Footer Styles */

.foot-style {
  background-color: #f8dceb;
  font-family: cursive;
}

.head {
  font-family: sans-serif;
}

.synopsis {
  font-family: sans-serif;
}

.product-links {
  font-family: sans-serif;
  color: black;
}
